<div *ngIf="DivisionTeams && DivisionTeams.length > 0" xmlns="http://www.w3.org/1999/html">
  <h1>Team List</h1>

  <ul>
    <li *ngFor="let team of DivisionTeams">
      <span>{{ team.City | uppercase }} - {{ team.Team | uppercase }} <strong> Head Coach: </strong>{{ team.HeadCoach }}
     <strong> First Win: </strong>{{ team.firstWin | date: 'fullDate'}} <strong>Win Percentage:</strong> {{ team.winPercent | percent }}</span>
      <button (click)="deleteTeam(team.Id)">Delete</button>
    </li>
  </ul>

  <button (click)="addTeam()">Add New Team</button>

</div>


