<div *ngIf="DivisionTeams && DivisionTeams.length > 0" xmlns="http://www.w3.org/1999/html">
  <mat-card class="team-card">
    <h1>Team List </h1>
    <mat-toolbar color="primary">
      <span class="spacer"></span>
      <button mat-fab extended >Home</button>
      <button mat-fab extended >Teams</button>
      <button mat-fab extended >Ravens</button>
    </mat-toolbar>
    <mat-card-header>
      <li *ngFor="let team of DivisionTeams" [appHoverHighlight]="'purple'">
        <strong>{{ team | TeamName | uppercase }}</strong> <mat-card-subtitle><strong> Head Coach: </strong>{{ team.HeadCoach }}</mat-card-subtitle>
      </li>
    </mat-card-header>

    <mat-card-content>
    <li *ngFor="let team of DivisionTeams" [appHoverHighlight]="'purple'">
     <strong> First Win: </strong>{{ team.firstWin | date: 'fullDate'}} <strong>Win Percentage:</strong> {{ team.winPercent | percent }}
      <mat-card-actions>
        <button mat-raised-button (click)="deleteTeam(team.Id)" >Delete</button>
      </mat-card-actions>
    </li>
    </mat-card-content>

  <form>
    <div>
      <label for="teamName">Team Name</label>
      <input type="text" id="teamName" name="teamName" ngModel [appAppHighlightOnFocus]="'blue'" required>
    </div>
  </form>

  <button mat-fab extended (click)="addTeam()" [appHoverHighlight]="'green'" >Add New Team</button>

  </mat-card>
</div>


